@media (prefers-color-scheme: dark) {
	:root {
		/* HSL support */
		--dark-h: 8;
		--dark-s: 18;
		--dark-l: 74;

		--light-h: 338;
		--light-s: 18;
		--light-l: 35;
	}
}

body {
	color-scheme: light dark;
	--color-primary: light-dark(#b9005f, #f1ccdf);
	--color-primary-light: light-dark(#f1ccdf, #b9005f);

	/* accent colors */
	--color-accent-primary: light-dark(#7b8f0c, #3f4903);
	--color-accent-secondary: light-dark(#46becd, #185860);
	--color-accent-tertiary: light-dark(#0085c8, #003c5a);
	--color-accent-quarternary: light-dark(#6e7dbc, #384065);

	/* neutral colors */
	--color-neutral-white: light-dark(#ffffff, #000000);
	--color-neutral-black: light-dark(#000000, #ffffff);
	--color-neutral-darkgrey: light-dark(#6d495a, #a9999b);
	--color-neutral-lightgrey: light-dark(#a9999b, #6d495a);

	/* gradient colors */
	--color-gradient-primary: linear-gradient(to right, #b9005f, #de0059);
	--color-gradient-secondary: linear-gradient(to right, #b9005f, #de005900);

	--c-magenta: 329;
	--c-white: 0;

	--c-white: rgb(255, 255, 255);
	--c-white2: white;
	--c-grey: rgb(149, 149, 149);
	--c-text-header: black;

	--c-background: rgb(30, 30, 30);

	--c-container: rgb(44, 44, 44);
	--c-container-stroke: rgb(69, 69, 69);

	--c-green: rgb(82, 255, 0);
	--c-orange: rgb(255, 153, 0);
	--c-red: rgb(247, 44, 44);

	--c-border: rgb(255, 255, 255);

	--c-modal-button: rgb(99, 99, 99);
	--c-text-button: #ffffff;

	--purple-h: 329;
	--purple-s: 100;
	--purple-l: 36;

	--pink-h: 336;
	--pink-s: 100;
	--pink-l: 45;

	--yellow-h: 42;
	--yellow-s: 100;
	--yellow-l: 69;

	--cyan-h: 187;
	--cyan-s: 57;
	--cyan-l: 54;

	--green-h: 168;
	--green-s: 65;
	--green-l: 41;

	--blue-h: 230;
	--blue-s: 35;
	--blue-l: 54;

	--dark-h: 338;
	--dark-s: 18;
	--dark-l: 35;

	--light-h: 8;
	--light-s: 18;
	--light-l: 74;

	--light: 0.8;
	--neutral: 0.6;
	--dark: 0.4;

	/* fallback */
	--place-holder: oklch(50% 0.1 120);

	/* border radius */
	--border-radius: 12px;
}

.color-primary,
.color-primary-light,
.color-white,
.color-black,
.color-accent-primary,
.color-accent-secondary,
.color-accent-tertiary,
.color-neutral-darkgrey,
.color-neutral-lightgrey {
	@supports (color: color-mix(in hsl, white, black)) {
		--dark-3: color-mix(in hsl, var(--place-holder) 70%, black 30%);
		--dark-2: color-mix(in hsl, var(--place-holder) 80%, black 20%);
		--dark-1: color-mix(in hsl, var(--place-holder) 90%, black 10%);
		--color: color-mix(in hsl, var(--place-holder) 100%, white 0%);
		--light-1: color-mix(in hsl, var(--place-holder) 100%, white 2%);
		--light-2: color-mix(in hsl, var(--place-holder) 100%, white 7%);
		--light-3: color-mix(in hsl, var(--place-holder) 100%, white 12%);
	}

	@supports (color: oklch(50% 0.1 120)) {
		--dark-3: oklch(from var(--place-holder) calc(l - 0.2) calc(c + 0.03) h);
		--dark-2: oklch(from var(--place-holder) calc(l - 0.1) calc(c + 0.02) h);
		--dark-1: oklch(from var(--place-holder) calc(l - 0.04) calc(c + 0.01) h);
		--color: oklch(from var(--place-holder) l c h);
		--light-1: oklch(from var(--place-holder) calc(l + 0.02) calc(c + 0.01) h);
		--light-2: oklch(from var(--place-holder) calc(l + 0.04) calc(c + 0.02) h);
		--light-3: oklch(from var(--place-holder) calc(l + 0.06) calc(c + 0.03) h);
	}
}

.color-primary {
	--place-holder: var(--color-primary);
}

.color-primary-light {
	--place-holder: var(--color-primary-light);
}

.color-white {
	--place-holder: var(--color-white);
}

.color-black {
	--place-holder: var(--color-black);
}

.color-accent-primary {
	--place-holder: var(--color-accent-primary);
}

.color-accent-secondary {
	--place-holder: var(--color-accent-secondary);
}

.color-accent-tertiary {
	--place-holder: var(--color-accent-tertiary);
}

.color-neutral-darkgrey {
	--place-holder: var(--color-neutral-darkgrey);
}

.color-neutral-grey {
	--place-holder: var(--color-neutral-grey);
}

.lightmode {
	--color-primary: #4f0029;
	--color-primary-light: #b9005f;

	/* accent colors */
	--color-accent-primary: #3f4903;
	--color-accent-secondary: #185860;
	--color-accent-tertiary: #003c5a;
	--color-accent-quarternary: #384065;

	/* neutral colors */
	--color-neutral-white: #000000;
	--color-neutral-black: #ffffff;
	--color-neutral-darkgrey: #a9999b;
	--color-neutral-lightgrey: #6d495a;

	--c-background: white;
	--c-container: rgb(185, 0, 95);
	--c-pink: rgb(99, 99, 99);
	--c-container-stroke: white;
	--c-grey: white;
	--c-white2: black;
}

* {
	padding: 0;
	margin: 0;
	font-family: 'Fira Sans Regular', 'Inter', 'Montserrat', sans-serif;
	box-sizing: border-box;
}

/* Text styles */
h1 {
	font-size: 3rem;
	font-weight: 600;
	font-family: 'Fira Sans Bold', 'Inter', 'Montserrat', sans-serif;
}

h2 {
	font-size: 2rem;
	font-weight: 600;
	font-family: 'Fira Sans Medium', 'Inter', 'Montserrat', sans-serif;
}

h3 {
	font-size: 2rem;
	font-weight: 500;
	font-family:
		'Fira Sans Regular',
		'Inter',
		'Montserrat',
		sans-serif;
}

p {
	font-size: 1rem;
	font-weight: 400;
	font-family:
		'Fira Sans Regular',
		'Inter',
		'Montserrat',
		sans-serif;
	line-height: 141.667%;
	letter-spacing: 0.0025rem;
}

/* Default layout */
.richtlijn-uitleg > ul {
	margin-left: 1.5em;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
}

.richtlijn-uitleg > ul li {
	padding: 0.3em 0;
	font-size: 0.9rem;
	line-height: 141.667%;
	letter-spacing: 0.0025rem;
}

.disabled {
	display: none;
}


@font-face {
	font-family: 'Fira Sans Bold';
	src:
		url('./src/lib/assets/fonts/fira-sans/FiraSans-Bold.ttf') format('truetype'),
		url('./src/lib/assets/fonts/fira-sans/FiraSans-Bold.woff') format('woff');
	font-display: swap;
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Fira Sans Medium';
	src:
		url('./src/lib/assets/fonts/fira-sans/FiraSans-Medium.ttf') format('truetype'),
		url('./src/lib/assets/fonts/fira-sans/FiraSans-Medium.woff') format('woff');
	font-display: swap;
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'Fira Sans Regular';
	src:
		url('./src/lib/assets/fonts/fira-sans/FiraSans-Regular.ttf') format('truetype'),
		url('./src/lib/assets/fonts/fira-sans/FiraSans-Regular.woff') format('woff');
	font-display: swap;
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Fira Sans Light';
	src:
		url('./src/lib/assets/fonts/fira-sans/FiraSans-Light.ttf') format('truetype'),
		url('./src/lib/assets/fonts/fira-sans/FiraSans-Light.woff') format('woff');
	font-display: swap;
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Fira Sans Extra Light';
	src:
		url('./src/lib/assets/fonts/fira-sans/FiraSans-ExtraLight.ttf') format('truetype'),
		url('./src/lib/assets/fonts/fira-sans/FiraSans-ExtraLight.woff') format('woff');
	font-display: swap;
	font-weight: 200;
	font-style: normal;
}

/* montserrat */

@font-face {
	font-family: 'Montserrat';
	src:
		url('./src/lib/assets/fonts/montserrat/static/Montserrat-Regular.ttf') format('truetype'),
		url('./src/lib/assets/fonts/montserrat/static/Montserrat-Regular.woff') format('woff');
	font-display: swap;
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Inter';
	src:
		url('./src/lib/assets/fonts/inter/static/Inter_18pt-Regular.ttf') format('truetype'),
		url('./src/lib/assets/fonts/inter/static/Inter_18pt-Regular.woff') format('woff');
	font-display: swap;
	font-weight: 400;
	font-style: normal;
}
