/* import font */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

@media (prefers-color-scheme: dark) {
	:root {
		/* HSL support */
		--dark-h: 8;
		--dark-s: 18;
		--dark-l: 74;

		--light-h: 338;
		--light-s: 18;
		--light-l: 35;
	}
}

body {
	color-scheme: light dark;
	--color-primary: light-dark(#B9005F,#F1CCDF);
	--color-primary-light: light-dark(#F1CCDF,#B9005F);

	/* accent colors */
	--color-accent-primary: light-dark(#7B8F0C,#3F4903);
	--color-accent-secondary: light-dark(#46BECD,#185860);
	--color-accent-tertiary: light-dark(#0085C8,#003C5A);
	--color-accent-quarternary: light-dark(#6E7DBC,#384065);

	/* neutral colors */
	--color-neutral-white: light-dark(#ffffff,#000000);
	--color-neutral-black: light-dark(#000000,#fffffF);
	--color-neutral-darkgrey: light-dark(#6D495A,#A9999B);
	--color-neutral-lightgrey: light-dark(#A9999B,#6D495A);

	/* gradient colors */
	--color-gradient-primary: linear-gradient(to right, #B9005F, #DE0059);
	--color-gradient-secondary: linear-gradient(to right, #B9005F, #de005900);

	--c-magenta: 329;
	--c-white: 0;

	--c-white: rgb(255, 255, 255);
	--c-white2: white;
	--c-grey: rgb(149, 149, 149);
	--c-text-header: black;

	--c-background: rgb(30, 30, 30);

	--c-container: rgb(44, 44, 44);
	--c-container-stroke: rgb(69, 69, 69);

	--c-green: rgb(82, 255, 0);
	--c-orange: rgb(255, 153, 0);
	--c-red: rgb(247, 44, 44);

	--c-border: rgb(255, 255, 255);

	--c-modal-button: rgb(99, 99, 99);
	--c-text-button: #ffffff;

	--purple-h: 329;
	--purple-s: 100;
	--purple-l: 36;

	--pink-h: 336;
	--pink-s: 100;
	--pink-l: 45;

	--yellow-h: 42;
	--yellow-s: 100;
	--yellow-l: 69;

	--cyan-h: 187;
	--cyan-s: 57;
	--cyan-l: 54;

	--green-h: 168;
	--green-s: 65;
	--green-l: 41;

	--blue-h: 230;
	--blue-s: 35;
	--blue-l: 54;

	--dark-h: 338;
	--dark-s: 18;
	--dark-l: 35;

	--light-h: 8;
	--light-s: 18;
	--light-l: 74;

	--light: 0.8;
	--neutral: 0.6;
	--dark: 0.4;

	/* fallback */
	--place-holder: oklch(50% 0.1 120);

	/* border radius */
	--border-radius: 12px;
}

.color-primary,
.color-primary-light,
.color-white,
.color-black,
.color-accent-primary,
.color-accent-secondary,
.color-accent-tertiary,
.color-neutral-darkgrey,
.color-neutral-lightgrey {
	@supports (color: color-mix(in hsl, white, black)) {
		--dark-3: color-mix(in hsl, var(--place-holder) 70%, black 30%);
        --dark-2: color-mix(in hsl, var(--place-holder) 80%, black 20%);
        --dark-1: color-mix(in hsl, var(--place-holder) 90%, black 10%);
        --color:  color-mix(in hsl, var(--place-holder) 100%, white 0%);
        --light-1: color-mix(in hsl, var(--place-holder) 100%, white 2%);
        --light-2: color-mix(in hsl, var(--place-holder) 100%, white 7%);
		--light-3: color-mix(in hsl, var(--place-holder) 100%, white 12%);
    	}

    @supports (color: oklch(50% 0.1 120)) {
		 --dark-3: oklch(from var(--place-holder) calc(l - 0.20) calc(c + 0.03) h);
        --dark-2: oklch(from var(--place-holder) calc(l - 0.10) calc(c + 0.02) h);
        --dark-1: oklch(from var(--place-holder) calc(l - 0.04) calc(c + 0.01) h);
        --color: oklch(from var(--place-holder) l c h);
        --light-1: oklch(from var(--place-holder) calc(l + 0.02) calc(c + 0.01) h);
        --light-2: oklch(from var(--place-holder) calc(l + 0.04) calc(c + 0.02) h);
		--light-3: oklch(from var(--place-holder) calc(l + 0.06) calc(c + 0.03) h);
    	}
	}

.color-primary {
	--place-holder: var(--color-primary);
}

.color-primary-light {
	--place-holder: var(--color-primary-light);
}

.color-white {
	--place-holder: var(--color-white);
}

.color-black {
	--place-holder: var(--color-black);
}

.color-accent-primary {
	--place-holder: var(--color-accent-primary);
}

.color-accent-secondary {
	--place-holder: var(--color-accent-secondary);
}

.color-accent-tertiary {
	--place-holder: var(--color-accent-tertiary);
}

.color-neutral-darkgrey {
	--place-holder: var(--color-neutral-darkgrey);
}

.color-neutral-grey {
	--place-holder: var(--color-neutral-grey);
}

.lightmode {
	--color-primary: #4F0029;
	--color-primary-light: #3F4903;

	/* accent colors */
	--color-accent-primary: #3F4903;
	--color-accent-secondary: #185860;
	--color-accent-tertiary: #003C5A;
	--color-accent-quarternary: #384065;

	/* neutral colors */
	--color-neutral-white: #000000;
	--color-neutral-black: #fffffF;
	--color-neutral-darkgrey: #A9999B;
	--color-neutral-lightgrey:#6D495A;
	
	--c-background: white;
	--c-container: rgb(185, 0, 95);
	--c-pink: rgb(99, 99, 99);
	--c-container-stroke: white;
	--c-grey: white;
	--c-white2: black;
}

* {
	padding: 0;
	margin: 0;
	font-family: 'Inter', sans-serif;
	box-sizing: border-box;
}

/* Text styles */
h1 {
	font-size: 3rem;
	font-weight: 600;
	font-family: 'Inter', sans-serif;
}

h2 {
	font-size: 2rem;
	font-weight: 600;
	font-family: 'Inter', sans-serif;
}

h3 {
	font-size: 2rem;
	font-weight: 500;
	font-family: 'Inter', sans-serif;
}

p {
	font-size: 1rem;
	font-weight: 400;
	font-family: 'Inter', sans-serif;
	line-height: 141.667%;
	letter-spacing: 0.0025rem;
}

/* Default layout */
.richtlijn-uitleg > ul {
	margin-left: 1.5em;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
}

.richtlijn-uitleg > ul li {
	padding: 0.3em 0;
	font-size: 0.9rem;
	line-height: 141.667%;
	letter-spacing: 0.0025rem;
}

.disabled {
	display: none;
}

/* form elements */
button {
	border-radius: var(--border-radius);
	width: fit-content;
	display: flex;
	justify-content: center;
	align-items: center;
}

input[type='text'] {
	height: 48px;
	width: 100%;
	background-color: var(--color-neutral-white);
	border: var(--color-neutral-black) 1px solid;
	border-radius: 12px;
	font-size: 16px;

	@media screen (min-width: 720px){
		height: 32px;
		font-size: 12px;
	}
}
